!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'UTF-8'}
    %title Embedded Examples
    = stylesheet_link_tag '//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css'
    = stylesheet_link_tag 'application'

  %body
    = partial 'menu'
    %section#test-window
      .iphone
      = yield

    = javascript_include_tag '//code.jquery.com/jquery-3.3.1.slim.min.js'
    = javascript_include_tag '//stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js'
    = javascript_include_tag '//demo.karmasoftonline.com/assets/iframeapi.js'
    = javascript_include_tag 'application'