!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'UTF-8'}
    %title Embedded Examples
    = stylesheet_link_tag '//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css'
    = stylesheet_link_tag 'application'

  %body
    = partial 'menu'
    .container-fluid
      .row
        .col-md-12
          %section#test-window
            .iphone
            = yield
    %footer
      %span Footer

    = javascript_include_tag '//code.jquery.com/jquery-3.3.1.min.js'
    = javascript_include_tag '//stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js'
    - if current_page.path == 'offers.html'
      = javascript_include_tag '//qa.karmasoftonline.com/assets/offers.js'
    - elsif current_page.path == 'rails5.html'
      = javascript_include_tag '//qa.karmasoftonline.com/assets/iframeapi.js'
    - else
      = javascript_include_tag '//demo.karmasoftonline.com/assets/iframeapi.js'

    = javascript_include_tag 'application'

    - if current_page.path == 'json.html'
      = javascript_include_tag 'json'